.searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .searchInput:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    color: #007bff;
  }